/*CSS*/

body {
  margin: 0%;
}

.Header {
    background-color: #2f184b;
    color: white;
    text-align: center;
    top: 0%;
    padding: 2px 0px 2px 0px;
}

.Header .Title {
    margin: 0%;
}

.row img {
    width: 150px;
    height: 150px;
}

a {
    color: black;
}
